<!DOCTYPE html>
<html>
<head>
    <link class="include" rel="stylesheet" type="text/css"
          href="/static/jquery.jqplot.min.css" />
    <link class="include" rel="stylesheet" type="text/css"
          href="/static/bootstrap-ellipsis.css" />

    <style type="text/css">
        .popover {
            max-width: 600px !important;
            width: 600px !important;
        }
        a.ellipsis {
            cursor: pointer;
        }
    </style>

    {% extends "bootstrap/base.html" %}
    {% block title %}Página inicial | eaicongresso{% endblock %}
    {% block head %}
{{super()}}
    <div style="text-align: center" class="page-header">
        <img src='static/bubble.png'>
    <h1>eaicongresso</h1>
      <small>Portal facilitador de acesso a dados governamentais abertos</small>
      </div>
{% endblock %}
 {% block scripts %}
    {{super()}}


    <!--[if lt IE 9]><script language="javascript" type="text/javascript"
                             src="/static/excanvas.js"></script><![endif]-->
    <!--script type="text/javascript" src="/static/jquery.min.js"></script-->
    <script type="text/javascript" src="/static/bootstrap-ellipsis.js"></script>

    <script class="code" type="text/javascript">
        $(document).ready(function(){
            $('.texto-ellipsado').ellipsis({maxLine: 5, trigger:'mouseenter'});
            $.getJSON('/_get_mes',function (mes) {
                plot1 = $.jqplot ('chart1', [mes.output], {
                    title: 'Proposições tramitadas por mês durante um ano',
                    axesDefaults: {
                        labelRenderer: $.jqplot.CanvasAxisLabelRenderer
                    },
                    seriesDefaults: {
                        rendererOptions: {
                            smooth: true
                        }
                    },
                    axes: {
                        xaxis: {
                            label: "Mês/2015",
                        },
                        yaxis: {
                            label: "Número de proposições"
                        }
                    },
                    seriesDefaults: {
                        pointLabels: {show: true}
                    }
                });
            });
        });
    </script>
    <script class="code2" type="text/javascript">
        $(document).ready(function(){
             $.getJSON('/_get_tema',function (tema) {
                plot2 = $.jqplot('chart2', [tema.output], {
                    title: 'Temas',
                    seriesDefaults: {shadow: true, renderer: $.jqplot.PieRenderer, rendererOptions: { showDataLabels: true } },
                    legend: { show:true }
                });
            });
        });
    </script>
    <script class="include" type="text/javascript"
            src="/static/jquery.jqplot.js"></script>
    <script class="include" language="javascript" type="text/javascript"
            src="/static/plugins/jqplot.dateAxisRenderer.min.js"></script>
    <script type="text/javascript" src="/static/plugins/jqplot.pieRenderer.js"></script>
    <script type="text/javascript" src="/static/plugins/jqplot.canvasTextRenderer.js"></script>
    <script type="text/javascript" src="/static/plugins/jqplot.canvasAxisLabelRenderer.js"></script>
    <script type="text/javascript" src="/static/plugins/jqplot.pointLabels.js"></script>

{% endblock %}

{% block navbar %}
<nav class="navbar">
<ul class="nav nav-tabs nav-justified">
  <li role="presentation" class="active"><a href="/">Home</a></li>
  <li role="presentation"><a href="/temas">Gráfico por temas</a></li>
  <li role="presentation"><a href="/proposicaopormes">Gráfico por número de proposições</a></li>
  <li role="presentation"><a href="/indexacao">Pesquisa por tema ou palavras-chave</a></li>
</ul>
</nav>

{% endblock %}
</head>